absl-py==0.15.0
Adafruit-Blinka==6.16.0
Adafruit-PlatformDetect==3.17.2
Adafruit-PureIO==1.1.9
astunparse==1.6.3
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.9
flatbuffers==1.12
gast==0.3.3
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
idna==3.3
importlib-metadata==4.8.2
Keras-Preprocessing==1.1.2
Markdown==3.3.6
numpy==1.21.4
oauthlib==3.1.1
opencv-python==4.5.4.60
opt-einsum==3.3.0
pkg-resources==0.0.0
protobuf==3.19.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyftdi==0.53.3
pynmea2==1.18.0
pyserial==3.5
pyttsx3==2.90
pyusb==1.2.1
requests==2.26.0
requests-oauthlib==1.3.0
rpi-ws281x==4.3.1
RPi.GPIO==0.7.0
rsa==4.8
scipy==1.7.3
six==1.15.0
smbus2==0.4.1
sparkfun-pi-servo-hat==0.9.0
sparkfun-qwiic==1.1.6
sparkfun-qwiic-adxl313==0.0.7
sparkfun-qwiic-alphanumeric==0.0.1
sparkfun-qwiic-as6212==0.0.2
sparkfun-qwiic-bme280==0.9.0
sparkfun-qwiic-button==2.0.1
sparkfun-qwiic-ccs811==0.9.4
sparkfun-qwiic-dual-encoder-reader==0.0.2
sparkfun-qwiic-eeprom==0.0.1
sparkfun-qwiic-gpio==0.0.2
sparkfun-qwiic-i2c==0.9.11
sparkfun-qwiic-icm20948==0.0.1
sparkfun-qwiic-joystick==0.9.0
sparkfun-qwiic-keypad==0.9.0
sparkfun-qwiic-kx13x==1.0.0
sparkfun-qwiic-led-stick==0.0.1
sparkfun-qwiic-max3010x==0.0.2
sparkfun-qwiic-micro-oled==0.10.0
sparkfun-qwiic-oled-base==0.0.2
sparkfun-qwiic-oled-display==0.0.2
sparkfun-qwiic-pca9685==0.9.1
sparkfun-qwiic-pir==0.0.4
sparkfun-qwiic-proximity==0.9.0
sparkfun-qwiic-relay==0.0.2
sparkfun-qwiic-rfid==2.0.0
sparkfun-qwiic-scmd==0.9.1
sparkfun-qwiic-serlcd==0.0.1
sparkfun-qwiic-sgp40==0.0.4
sparkfun-qwiic-soil-moisture-sensor==0.0.2
sparkfun-qwiic-tca9548a==0.9.0
sparkfun-qwiic-titan-gps==0.1.1
sparkfun-qwiic-twist==0.9.0
sparkfun-qwiic-vl53l1x==1.0.1
sparkfun-top-phat-button==0.0.2
sparkfun-ublox-gps==1.1.4
spidev==3.5
sysv-ipc==1.1.0
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.0
tensorflow-estimator==2.4.0
termcolor==1.1.0
typing-extensions==3.7.4.3
urllib3==1.26.7
Werkzeug==2.0.2
wrapt==1.12.1
zipp==3.6.0